:root {
  --shadow: 1px 2px 10px 0 rgba(0,0,0,.05);
  --code: 'Source Code Pro', monospace;
}

* {
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -user-select: none;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0 !important;
    background-color: none !important;
  }
  .container {
    padding: 0 !important;
    margin: 0 !important;
    align-items: center !important;
    }
    .content {
      display: inline !important;
      height: auto !important;
      box-sizing: 0 !important;
    }
    .element {
      background-color: none !important;
      box-shadow: none !important;
    }
    h2 {
      background-color: #eee;
      font-size: 20px;
      width: 100%;
      height: 10vh;
      margin: 0;
      padding-top: 35px;
      text-align: center;
    }
}

body {
  background-color: #eee;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23ffffff' stroke-width='66.7' stroke-opacity='0.06' %3E%3Ccircle fill='%23ffffff' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f6f7fa' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23edf0f6' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23e4e9f1' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23dbe1ed' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d2dae8' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23c9d3e4' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23c0cbdf' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b7c4db' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23aebdd6' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23a5b6d2' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%239cafce' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2393a8c9' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%238aa1c5' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23809ac0' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%237793bc' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%236e8db7' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%236486b3' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
  color: #222;
  margin: 0;
  padding: 0;
  margin: 25px 0;
}

.container {
  background-color: white;
  color: #222;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  border-radius: 4px;
  box-shadow: var(--shadow);
}
.content {
  height: 850px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.element {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 25px;
}
.element > * {
  margin-bottom: 15px;
}

.align {
  display: flex;
  align-items: center;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.mt {
  margin-top: 15px;
}
.bt {
  justify-content: space-between;
}

code {
  font-family: var(--code);
  font-size: 12px;
  color: #222;
}